{% extends 'base.html' %}

{% block head_title %}
Orders -
{% endblock head_title %}

{% load humanize %}

{% block content %}
<div class="container my-5">
    <div class="col-lg-5 mx-auto my-5">
        <form action=""
            method="get">
            <input type="search"
                name="orders"
                class="form-control rounded-pill bg-dark bg-opacity-50 text-light">
        </form>
    </div>
    <div class="col-lg-5 mx-auto table-responsive">
        <table class="table table-sm small table-dark rounded-4 px-5">
            <tbody>
                {% for order in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{order.product|title}}</td>
                    <td>${{order.product.price}}</td>
                    <td>x{{order.qty}}</td>
                    <td>${{order.get_total_price}}</td>
                    <td>{{order.created_at|naturaltime}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}