{% extends 'base.html' %}

{% block head_title %}

{% endblock head_title %}


{% block content %}
<div class="container my-5">
    <div class="col-lg-5 mx-auto my-5">
        <form action=""
            method="get">
            <input type="search"
                name="products"
                class="form-control rounded-pill bg-dark bg-opacity-50 text-light py-3">
        </form>
    </div>
    {% for item in object_list %}
    <a class="text-decoration-none text-white"
        href="{{item.get_absolute_url}}">
        <div class="card rounded-4 mb-5 mx-auto col-lg-5 bg-dark">
            {% if item.image %}
            <img src="{{item.image.url}}"
                class="card-img-top rounded-4 rounded-bottom-0"
                alt="">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{item.name|title}}</h5>
                <p class="h4 card-text float-start">${{item.price}}
                </p>
                <a class="text-success"
                    href=""><span class="material-symbols-outlined float-end">
                        add_shopping_cart
                    </span></a>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}